<nav class="navbar navbar-toggleable-sm fixed-top bg-inverse" style="z-index:100">
	<button class="navbar-toggler navbar-toggler-right btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"><img src="img/menu.svg" alt="moabist menu toggle"></span>
	</button>
	<a class="navbar-brand" href="index.html"><img style="max-width: 60px; height: auto;margin-left:auto;margin-right:auto;" src="img/moabist_logo_png_small.png" alt="moabist small logo"></a>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav mr-auto">
		  <a class="nav-item nav-link" href="index.html">Home</a>
		  <a class="nav-item nav-link" href="moabistapparel.html">Shop</a>
		  <a class="nav-item nav-link" href="moabistapparel.html#watches">Watches</a>
		  <a class="nav-item nav-link" href="moabistapparel.html#sunglasses">Sunglasses</a>
		  <a class="nav-item nav-link" href="moabiststory.html">Our Story</a>
		  <a class="nav-item nav-link" href="contactmoabist.html">Contact Us</a>			  
		</div>
  </div>
</nav>


<nav class="nav flex-column">
	
 {% for post in site.posts %}	
  
 {% endfor %}
</nav>	
