<!DOCTYPE html>
<html lang="en">
  {% include header.html %}
  <body style="min-height:500px;">
   {% include nav.html %}
   <div class="container">
	<br><br><br>
    <h1 class="post-title">{{ page.title }}</h1>
	
		<div class="card">
			<img class="card-img-top img-fluid" src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }} image">
			<div class="card-block">			  		
			</div>
		</div>
		<div class="card-text"> {{ content }}</div>
	
		<div class="row">
			<div class="col-sm-4 float-right">
			<a class="nav-link" href={{ site.baseurl }}{{ page.previous.url }}>Previous Post</a>
			</div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 float-left">
				<a class="nav-link" href={{ site.baseurl }}{{ page.next.url }}>Next Post</a>
			</div>
		</div>
   </div>

	{% include footer.html %}
 </body> 
</html>